<p id="notice"><%= notice %></p>
<div class="container">

<h1>Teste Mongos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teste_mongos.each do |teste_mongo| %>
      <tr>
        <td><%= teste_mongo.User %></td>
        <td><%= teste_mongo.Email %></td>
        <td><%= link_to 'Show', teste_mongo %></td>
        <td><%= link_to 'Edit', edit_teste_mongo_path(teste_mongo) %></td>
        <td><%= link_to 'Destroy', teste_mongo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teste Mongo', new_teste_mongo_path %>
</div>