<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @teste_mongo.User %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teste_mongo.Email %>
</p>

<%= link_to 'Edit', edit_teste_mongo_path(@teste_mongo) %> |
<%= link_to 'Back', teste_mongos_path %>
