<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @testemongos123.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @testemongos123.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @testemongos123.email %>
</p>

<%= link_to 'Edit', edit_testemongos123_path(@testemongos123) %> |
<%= link_to 'Back', testemongos123s_path %>
